# Database (Supabase PostgreSQL URL)
DATABASE_URL="postgresql://postgres.clxijflgohztadxcibxb:[GANTI_DENGAN_PASSWORD_ANDA]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Security
JWT_SECRET="beni-sangat-rahasia-super-aman-v1"
JWT_EXPIRES_IN="7d"

# Server
PORT=3000
NODE_ENV="production"
FRONTEND_URL="https://amara-frontend.vercel.app"

# Cloudinary
CLOUDINARY_URL="cloudinary://[KEY]:[SECRET]@[CLOUD_NAME]"
CLOUDINARY_CLOUD_NAME="[CLOUD_NAME]"
CLOUDINARY_API_KEY="[KEY]"
CLOUDINARY_API_SECRET="[SECRET]"
